body{
    font-family: cursive;
    text-align: center;
    color: white;
    background-color: #525B56;
}

h2{
    font-family: serif;
    color: aquamarine;
    font-size: 100%;
}
.write{
    width: 70px;
}

canvas{
    margin: 0;
    padding: 0;
    width: 95%;
    height: 85%;
    
}
canvas{
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    background: #132226;
}
#controls{
    margin: 1%;
}
#container{
    text-align: center;
}